---
// import stuff from "../../public/assets/images/banner.jpg";
---

<div
  class="h-[500px] bg-[url(../../public/assets/images/banner.jpg)] bg-cover bg-center"
>
  <div class="p-4 text-white">
    <p class="text-center">Welcome to Astro</p>
  </div>
  <slot />
  <div class="p-4 text-white">
    <p class="text-center">Welcome to Astro</p>
  </div>
</div>
