---

---

<section
  class="flex h-[500px] flex-col content-center items-center justify-center bg-gray-800 bg-[url(../../public/assets/images/banner.jpg)] bg-cover bg-center bg-blend-overlay"
>
  <div class="flex w-1/2 flex-col gap-3 text-center text-white">
    <p>
      We accept appointments in-store and online Ladies and gentlemen, our
      physical stores are open strictly by appointment. We take appointments
      between Monday-Saturdays, 11am-8pm. We are also accepting online
      appointments via Zoom, for you to experience our services from the
      comforts of your homes.
    </p>
    <p>
      Send us a message on our Facebook or Instagram page to set an appointment,
      or email us.<br /> Thank you very much!
    </p>
  </div>
  <button type="button" class="mt-5 border bg-black p-2 px-10 text-white"
    >Book Now</button
  >
</section>
