---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
---

<header class="sticky top-0">
  <div class="py-3 bg-gray-100">
    <div>
      <nav class="grid grid-cols-3 items-center container">
        <a href="/">
          <Logo />
        </a>
        <h1 class="flex justify-center text-xl font-bold">Astro x Shopify</h1>
        <div class="justify-self-end">
          <CartIcon client:visible />
        </div>
      </nav>
    </div>
  </div>
</header>
