---
import CartIcon from "./CartIcon.svelte";

const pages = [
  {
    title: "Home",
    href: "/",
  },
  {
    title: "Products",
    href: "/products",
  },
  {
    title: "About",
    href: "/about",
  },
  {
    title: "Contact",
    href: "/contact",
  },
];
---

<header class="sticky top-0 z-40">
  <div class="border-b bg-white/70 px-5 py-5 backdrop-blur-2xl">
    <nav class="container flex items-center justify-between">
      <h1 class="text-sm font-semibold text-gray-900 sm:text-xl">
        👞 Connosueur Shoes
      </h1>
      <ul class="flex justify-center gap-2">
        {
          pages.map((page) => (
            <li>
              <a href={page.href}>{page.title}</a>
            </li>
          ))
        }
        <CartIcon client:load />
      </ul>
    </nav>
  </div>
</header>
