---
import { getProductRecommendations } from "../utils/shopify";
import ProductCard from "./ProductCard.astro";
export interface Props {
  productId: string;
  buyerIP: string;
}

const { productId, buyerIP } = Astro.props as Props;

const productRecommendations = await getProductRecommendations({
  productId,
  buyerIP,
});
---

{
  productRecommendations.length > 0 && (
    <section class="bg-white">
      <div class="py-16 sm:py-24">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
          Customers also purchased
        </h2>

        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          {productRecommendations.map((product) => (
            <ProductCard product={product} />
          ))}
        </div>
      </div>
    </section>
  )
}
