---
import { z } from "zod";
import { ProductResult } from "../utils/schemas";
import ShopifyImage from "./ShopifyImage.svelte";

const ProductsResult = z.array(ProductResult);
export interface Props {
  products: z.infer<typeof ProductsResult>;
}
const { products } = Astro.props as Props;
---

<section class="py-10">
  <ul class="grid grid-cols-2 gap-10">
    {
      products.map((product) => (
        <li class="shadow-sm border rounded-sm">
          <a href={`/products/${product.handle}`}>
            <div>
              <ShopifyImage
                loading="eager"
                image={product.featuredImage}
                sizes={`
                  (min-width: 1540px) 722px,
                  (min-width: 1280px) 594px,
                  (min-width: 1040px) 466px,
                  (min-width: 780px) 338px,
                  (min-width: 680px) 274px,
                  calc(47.22vw - 38px)
                `}
              />
            </div>
            <div class="p-4">{product.title}</div>
          </a>
        </li>
      ))
    }
  </ul>
</section>
