---
import { z } from "zod";
import { ProductResult } from "../utils/schemas";
import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

const ProductsResult = z.array(ProductResult);
export interface Props {
  products: z.infer<typeof ProductsResult>;
}
const { products } = Astro.props as Props;
---

<section>
  <div class="container py-16 sm:py-20">
    <h2 class="sr-only">Products</h2>

    <div
      class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
    >
      {
        products.map((product) => (
          <>
            <a href={`/products/${product?.handle}`} class="group">
              <div class="aspect-w-1 aspect-h-1 xl:aspect-w-7 xl:aspect-h-8 w-full overflow-hidden rounded-lg bg-gray-200">
                <ShopifyImage
                  classList="h-full w-full object-cover object-center group-hover:opacity-75"
                  loading="eager"
                  image={product?.featuredImage}
                  sizes={`
                  (min-width: 1540px) 348px,
                  (min-width: 1280px) 284px,
                  (min-width: 1040px) 309px,
                  (min-width: 780px) 348px,
                  (min-width: 640px) 284px,
                  calc(100vw - 48px)
                `}
                />
              </div>
              <h3 class="mt-4 text-sm text-gray-700">{product?.title}</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">
                <Money price={product?.variants.nodes[0].priceV2} />
              </p>
            </a>
          </>
        ))
      }
    </div>
  </div>
</section>
