---
import { z } from "zod";
import { ImageResult } from "../utils/schemas";
import ShopifyImage from "./ShopifyImage.svelte";

const ImagesResult = z.object({
  nodes: z.array(ImageResult),
});

export interface Props {
  images: z.infer<typeof ImagesResult>;
}
const { images } = Astro.props as Props;
---

<div class="grid gap-4 md:grid-cols-8 lg:gap-6">
  <div class="md:order-2 md:col-span-6">
    <ShopifyImage
      classList="overflow-hidden rounded-lg h-full object-cover"
      loading="eager"
      image={images.nodes[0]}
      sizes={`
          (min-width: 1540px) 475px,
          (min-width: 1280px) 389px,
          (min-width: 1040px) 304px,
          (min-width: 780px) 720px,
          (min-width: 680px) 592px,
          calc(94.44vw - 31px)
        `}
    />
  </div>
  <div
    class:list={[
      "grid",
      "grid-cols-4",
      "gap-4",
      "md:order-1",
      "md:col-span-2",
      "md:flex",
      "md:flex-col",
      "md:gap-6",
      { "md:justify-between": images.nodes.length > 2 },
    ]}
  >
    {
      images.nodes.map((image, index) => {
        if (index < 3) {
          return (
            <div class="overflow-hidden rounded-lg">
              <ShopifyImage
                classList=""
                loading="eager"
                image={image}
                sizes={`
                  (min-width: 1540px) 475px,
                  (min-width: 1280px) 389px,
                  304px
                `}
              />
            </div>
          );
        }
      })
    }
  </div>
</div>
