---
import { z } from "zod";
import { ImageResult } from "../utils/schemas";
import ShopifyImage from "./ShopifyImage.svelte";

const ImagesResult = z.object({
  nodes: z.array(ImageResult),
});

export interface Props {
  images: z.infer<typeof ImagesResult>;
}
const { images } = Astro.props as Props;
---

<section
  class="grid grid-cols-1 items-center gap-y-16 gap-x-8 py-24 sm:py-32 lg:grid-cols-2"
>
  <div>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Technical Specifications
    </h2>
    <p class="mt-4 text-gray-500">
      The walnut wood card tray is precision milled to perfectly fit a stack of
      Focus cards. The powder coated steel divider separates active cards from
      new ones, or can be used to archive important task lists.
    </p>

    <dl
      class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
    >
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Origin</dt>
        <dd class="mt-2 text-sm text-gray-500">Designed by Good Goods, Inc.</dd>
      </div>

      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Material</dt>
        <dd class="mt-2 text-sm text-gray-500">
          Solid walnut base with rare earth magnets and powder coated steel card
          cover
        </dd>
      </div>

      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Dimensions</dt>
        <dd class="mt-2 text-sm text-gray-500">
          6.25&quot; x 3.55&quot; x 1.15&quot;
        </dd>
      </div>

      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Finish</dt>
        <dd class="mt-2 text-sm text-gray-500">
          Hand sanded and finished with natural oil
        </dd>
      </div>

      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Includes</dt>
        <dd class="mt-2 text-sm text-gray-500">
          Wood card tray and 3 refill packs
        </dd>
      </div>

      <div class="border-t border-gray-200 pt-4">
        <dt class="font-medium text-gray-900">Considerations</dt>
        <dd class="mt-2 text-sm text-gray-500">
          Made from natural materials. Grain and color vary with each item.
        </dd>
      </div>
    </dl>
  </div>
  <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
    {
      images.nodes.map((image, index) => {
        if (index < 3) {
          return (
            <ShopifyImage
              classList="rounded-lg bg-gray-100"
              loading="lazy"
              image={image}
              sizes={`
                (min-width: 1540px) 348px,
                (min-width: 1280px) 284px,
                (min-width: 1040px) 220px,
                (min-width: 780px) 348px,
                (min-width: 680px) 284px,
                calc(46.11vw - 20px)
              `}
            />
          );
        }
      })
    }
  </div>
</section>
